<% title "Sign up" %>

<div class="row">
	<div class="medium-6 medium-centered columns csw-well">
		<div class="row csw-social-button-group">
			<div class="medium-6 columns">
				<a class="csw-button csw-social-button csw-social-button-twitter">
			    <i class="csw-icon csw-icon-twitter"></i> Sign up with Twitter
			  </a>
			</div>
			<div class="medium-6 columns">
			  <a class="csw-button csw-social-button csw-social-button-facebook">
			    <i class="csw-icon csw-icon-facebook"></i> Sign up with Facebook
			  </a>
			</div>
		</div>
		<div class="csw-login-option-text"><p>or sign up with</p></div>
		<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<fieldset>
				<div class="csw-form-group">
					<%= f.label :email, class: "csw-input-label" %>
					<%= f.email_field :email, autofocus: true, class: "csw-form-input" %>
				</div>
				<div class="csw-form-group">
					<%= f.label :password, class: "csw-input-label" %>
					<%= f.password_field :password, autocomplete: "off", class: "csw-form-input" %>
				</div>
				<div class="csw-form-group">
					<%= f.label :password_confirmation, class: "csw-input-label" %>
				  <%= f.password_field :password_confirmation, autocomplete: "off", class: "csw-form-input" %>
				</div>
				<div class="csw-form-group">
					<%= submit_tag "Sign up", class: "csw-button" %>
				</div>
			</fieldset>
		<% end %>
	</div>
</div>
