<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title><%= @subject %></title>
	
<link rel="stylesheet" type="text/css" href="/assets/email.css"> 

</head>
 
<body bgcolor="#FFFFFF">

<!-- HEADER -->
<table class="head-wrap" bgcolor="#444">
	<tr>
		<td></td>
		<td class="header container" >
				
				<div class="content">
				<table>
					<tr>
						<td><h4>Blog Secret Santa</h4></td>
					</tr>
				</table>
				</div>
				
		</td>
		<td></td>
	</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
	<tr>
		<td></td>
		<td class="container" bgcolor="#FFFFFF">

			<div class="content">
			<table>
				<tr>
					<td>
						<h3>Hi <%= @giver.name %></h3>
						<p class="lead">Christmas is only 3 weeks away, so I've just made the Blog Secret Santa draw.</p>
						<p class="lead">You'll be secretly gifting a blog post to <strong><%= link_to @receiver.name, @receiver.url %></strong>. 'Tis the season to start writing!</p>
						<p>When you're ready to, log into <%= link_to "Blog Secret Santa", root_url %> and submit your blog post. Submissions close on Christmas Eve, so be sure to finish your Christmas blogging before then.</p>
						<p>I'll gift wrap your post and pass it on to <%= @receiver.name %> on Christmas Day.
						<p>Someone else has drawn your name. It could be anyone on my <%= link_to "list of good children", users_url %></a>. You'll receive your anonymous gift post on Christmas Day too.</p>
						<p>Merry Christmas, and happy blogging!</p>
						<p>Blog Secret Santa</p>
						<!-- social & contact -->
						<table class="social" width="100%">
							<tr>
								<td>
									
									<!-- column 1 -->
									<table align="left" class="column">
										<tr>
											<td>				
												
												<h5 class="">Connect with Us:</h5>
												<p class="">
													<a href="http://twitter.com/blogsecretsanta" target="_blank", class="soc-btn tw">Twitter</a>
												</p>
						
												
											</td>
										</tr>
									</table><!-- /column 1 -->	
									
									<!-- column 2 -->
									<table align="left" class="column">
										<tr>
											<td>				
																			
												<h5 class="">Contact Info:</h5>												
                				<strong><a href="mailto:secretsanta@csworkflow.com">secretsanta@csworkflow.com</a></strong></p>
                
											</td>
										</tr>
									</table><!-- /column 2 -->
									
									<span class="clear"></span>	
									
								</td>
							</tr>
						</table><!-- /social & contact -->
						
					</td>
				</tr>
			</table>
			</div><!-- /content -->
									
		</td>
		<td></td>
	</tr>
</table><!-- /BODY -->

</body>
</html>