						<h3>Merry Christmas, <%= @user.first_name %>!</h3>
						<p class="lead">It's time to unwrap and publish your Secret Santa gift post. I hope it's everything you ever wanted.</p>
						<p>Your post is at the bottom of this email, or you can log in to <%= link_to group_url(@group), group_url(@group), target: "_blank" %> and pick it up there.</p>
						<p>Once you've published this post on your blog log back in and click the "List your gift" button to add the URL. I'll keep an up-to-date list of all the secret posts as they go live, at <%= link_to group_content_index_url(@group), group_content_index_url(@group), target: "_blank" %>.</p>
						<p>Have a great Christmas day!</p>
						<p>Blog Secret Santa.</p>
						<div class="callout">
							<h4><%= @content.title ? @content.title : "No title" %></h4>
							<p style="font-style: italic">This post was anonymously written as part of Blog Secret Santa. There's a list of all Secret Santa posts, including one written by <%= @user.name %>, on <%= link_to "Santa's list of 2014 gift posts", group_content_index_url(@group), target: "_blank" %>.</p>
							<%= raw(Kramdown::Document.new(@content.body, auto_ids: false, smart_quotes: 'apos,apos,quot,quot').to_html) %>
						</div>