<% title @user.incomplete_profile? ? "Complete your profile" : "Your profile" %>

	<div class="row">
		<div class="small-12 columns">
			<h1><%= yield :heading %></h1>
			<% unless @user.email.blank? %>
				<div class="csw-edit-avatar">
	        <%= gravatar_for(@user) %>
	        <p>Your image is based on the email address used for your profile. You can change or add an image for free at <a href="http://gravatar.com" target="_blank">gravatar.com</a>.</p>
	      </div>
	    <% end %>
			<%= form_for @user do |f| %>
				<fieldset>
					<div class="csw-form-group">
						<% if @user.incomplete_profile? %>
							<%= f.label :group_id, "Blog group", class: "csw-input-label" %>
							<%= f.select :group_id, Group.all.collect {|g| [g.name, g.id] }, {prompt: 'Select your group'}, class: "csw-form-input" %>
						<% else %>
							<strong>Your group:</strong>
							<%= link_to @user.group.name, root_url(subdomain: @user.group.subdomain) %>
						<% end %>
					</div>
					<div class="csw-form-group">
						<%= f.label :name, class: "csw-input-label" %>
						<%= f.text_field :name, class: "csw-form-input", placeholder: "Name" %>
					</div>
					<div class="csw-form-group">
						<%= f.label :email, class: "csw-input-label" %>
						<%= f.email_field :email, class: "csw-form-input", placeholder: "Email" %>
					</div>
					<div class="csw-form-group">
						<%= f.label :blog, "Blog URL", class: "csw-input-label" %>
						<%= f.url_field :blog, class: "csw-form-input", placeholder: "Blog" %>
					</div>
					<div class="csw-form-group">
						<%= f.label :location, "Location (optional)", class: "csw-input-label" %>
						<%= f.text_field :location, class: "csw-form-input", placeholder: "Location" %>
					</div>
					<div class="csw-form-group checkbox">
						<%= f.label :available do %>
							<%= f.check_box :available %> Are you available for Secret Santa?
						<% end %>
					</div>
					<div class="csw-form-group">
						<%= f.submit "Save", class: "csw-button" %>
					</div>
				</fieldset>
			<% end %>
		</div>
	</div>