<% title @user.incomplete_profile? ? "Complete your profile" : "Your profile" %>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1><%= yield :heading %></h1>
			<% unless @user.email.blank? %>
				<div class="edit-gravatar">
	        <%= gravatar_for(@user) %>
	        <p>Your image is based on the email address used for your profile. You can change or add an image for free at <a href="http://gravatar.com" target="_blank">gravatar.com</a>.</p>
	      </div>
	    <% end %>
			<%= form_for @user do |f| %>
				<fieldset>
					<div class="form-group">
						<%= f.label :pool_id, "Blog pool" %>
						<% if @user.incomplete_profile? %>
							<%= f.select :pool_id, Pool.all.collect {|p| [ p.name, p.id ] }, {prompt: 'Select your pool'}, class: "form-control" %>
						<% else %>
							<p><%= link_to @user.pool.name, pool_url(subdomain: @user.pool.subdomain) %></p>
						<% end %>
					</div>
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: "form-control", placeholder: "Name" %>
					</div>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
					</div>
					<div class="form-group">
						<%= f.label :blog, "Blog URL" %>
						<%= f.url_field :blog, class: "form-control", placeholder: "Blog" %>
					</div>
					<div class="form-group">
						<%= f.label :location, "Location (optional)" %>
						<%= f.text_field :location, class: "form-control", placeholder: "Location" %>
					</div>
					<div class="checkbox">
						<%= f.label :available do %>
							<%= f.check_box :available %> Are you available for Secret Santa?
						<% end %>
					</div>
					<div class="form-group">
						<%= f.submit "Save", class: "btn btn-success" %>
					</div>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>