<% title "Forgot your password?" %>

<div class="row">
	<div class="medium-6 medium-centered columns csw-well">
		<h2><%= yield :heading %></h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>
		  <div class="csw-form-group">
				<%= f.label :email, class: "csw-input-label" %>
				<%= f.email_field :email, autofocus: true, class: "csw-form-input" %>
			</div>
			<div class="csw-form-group">
				<%= submit_tag "Send me password reset instructions", class: "csw-button" %>
			</div>
		<% end %>
	</div>
</div>