<div class="small-12 medium-6 large-4 columns csw-item-row csw-hover user full <%= user.playing_status(group.status) if group %>">
	<%= link_to santa_user_path(user), class: "csw-avatar-link" do %>
		<%= gravatar_for(user) %>
	<% end %>
	<div class="csw-item-row-content csw-indent">
		<div class="user-name"><%= link_to user.name.blank? ? "No name" : user.name, santa_user_path(user) %></div>
		<div class="group-name"><%= user.group.name if user.group %></div>
		<div class="user-email"><i class="csw-icon csw-icon-envelope-o"></i> <%= user.email %></div>
		<div class="user-blog"><i class="csw-icon csw-icon-pencil"></i> <%= link_to host_only(user.blog), user.blog, target: "_blank" if user.blog %></div>
		<% unless user.location.blank? %>
			<div class="user-location"><i class="csw-icon csw-icon-map-marker"></i> <%= user.location %></div>
		<% end %>
		<% if group %>
			<div class="csw-meta">
				<span class="playing-status"><%= user.playing_status(group.status).humanize %></span>
			</div>
		<% end %>
	</div>
</div>