<div class="small-12 medium-6 large-4 columns csw-item-row csw-hover user full <%= user.playing_status(group_status) %>">
	<%= link_to current_page?(controller: 'elves/groups', action: 'show') ? elves_user_path(user) : user, class: "csw-avatar-link" do %>
		<%= gravatar_for(user) %>
	<% end %>
	<div class="csw-item-row-content csw-indent">
		<div class="user-name"><%= link_to user.name.blank? ? "No name" : user.name, elves_user_path(user) %></div>
		<div class="user-email"><i class="csw-icon csw-icon-envelope-o"></i> <%= user.email %></div>
		<div class="user-blog"><i class="csw-icon csw-icon-pencil"></i> <%= link_to host_only(user.blog), user.blog, target: "_blank" %></div>
		<% unless user.location.blank? %>
			<div class="user-location"><i class="csw-icon csw-icon-map-marker"></i> <%= user.location %></div>
		<% end %>
		<div class="csw-meta">
			<span class="playing-status"><%= user.playing_status(group_status).humanize %></span>
		</div>
	</div>
</div>