<% title @user.name %>

<div class="row">
	<div class="small-12 columns">
	<div class="csw-item-row user full <%= @user.playing_status(@user.pool.status) %>">
		<h2><%= yield :heading %> is <span class="playing-status"><%= @user.playing_status(@user.pool.status).humanize %></span></h2>
		<%= gravatar_for(@user) %>
		<div class="csw-item-row-content csw-indent">
			<div class="user-email"><%= @user.email %></div>
			<div class="user-blog"><%= link_to @user.blog, @user.blog, target: "_blank" %></div>
			<% unless @user.location.blank? %>
				<div class="user-location"><span class="glyphicon glyphicon-map-marker"></span> <%= @user.location %></div>
			<% end %>
			<div class="csw-meta">
				Joined <%= time_ago_in_words(@user.created_at) %> ago<br />
				Last updated <%= time_ago_in_words(@user.updated_at) %> ago
			</div>
			<% if @user.playing? %>
				<p><%= link_to "Pull out", pull_out_elves_user_path(@user), class: "csw-button csw-plain-button", data: { remote: true } %></p>
			<% end %>
		</div>
	</div>
</div>