<% title "#{@pool.name} Elf Area" %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= yield :heading %></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	  <%= CountdownPresenter.new(@pool, self).render_countdown %>
		<div class="user-summaries row">
      <div class="small-6 medium-3 columns">
        <%= link_to elves_path do %>
          <div class="user-summary total">
            <span class="user-count"><%= User.count %></span>
            <span class="user-name">
              <span class="csw-icon csw-icon-user"></span> Total registered
            </span>
          </div>
        <% end %>
      </div>
      <% User.statuses(@pool.status).each do |status| %>
	      <div class="small-6 medium-3 columns">
	        <%= link_to elves_path(filter: status) do %>
	          <div class="user-summary <%= status %>">
	            <span class="user-count"><%= User.send(status).size %></span>
	            <span class="user-name">
	              <span class="csw-icon csw-icon-user"></span> <%= status.humanize %>
	            </span>
	          </div>
	        <% end %>
	      </div>
	    <% end %>
    </div>
		<div class="row csw-item-rows users">
      <% @users.each do |user| %>
      	<%= render "elves/users/user", user: user, pool_status: @pool.status %>
      <% end %>
    </div>
	</div>
</div>