			<%= form_for group do |f| %>
				<fieldset>
					<div class="csw-form-group">
			  		<%= f.label :name, class: "csw-input-label" %>
			  		<%= f.text_field :name, class: "csw-form-input" %>
			  	</div>

			  	<div class="csw-form-group">
			  		<%= f.label :subdomain, class: "csw-input-label" %>
			  		<%= f.text_field :subdomain, class: "csw-form-input" %>
			    </div>

			    <div class="csw-form-group">
			  		<%= f.label :status, class: "csw-input-label" %>
							<%= f.select :status, Group.statuses.collect {|s| s[0] }, {prompt: 'Set the group status'}, class: "csw-form-input" %>
			    </div>

			  	<div class="csw-form-group">
						<%= f.submit "Save", class: "csw-button" %>
					</div>
				</fieldset>
			<% end %>