<% title "List of groups" %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= yield :heading %></h1>
		<p>
			<%= link_to "New group", new_santa_group_path, class: "csw-button" %>
			<%= link_to "New message", new_santa_message_path, class: "csw-button" %>
		</p>
		<%= render "santa/users/user_summaries", group_status: @groups.first.status %>
	</div>
</div>
<div class="row">
  <% @groups.each do |group| %>
  	<%= render "group", group: group %>
  <% end %>
</div>