<% title "#{@group.name}" %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= yield :heading %></h1>
		<%= link_to "Edit", edit_group_path(@group), class: "csw-button csw-plain button" %>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	  <%= CountdownPresenter.new(@group, self).render_countdown %>
		<%= render "users/summaries_for_admins", group_status: @group.status, link: true %>
		<div class="row csw-item-rows users">
      <% @users.each do |user| %>
      	<%= render "elves/users/user", user: user, group_status: @group.status %>
      <% end %>
    </div>
	</div>
</div>