<% title "#{@group.name}" %>

<div class="row">
	<div class="small-12 columns">
		<h1><%= yield :heading %></h1>
		<%= link_to "Edit", edit_santa_group_path(@group), class: "csw-button csw-plain button" %>
	</div>
</div>
<div class="row">
	<div class="small-12 columns">
	  <%= CountdownPresenter.new(@group, self).render_countdown %>
	  <% User.where(group: @group).scoping do %>
			<%= render "santa/users/user_summaries", group_status: @group.status %>
		<% end %>
		<div class="row csw-item-rows users">
      <% @users.each do |user| %>
      	<%= render "santa/users/user", user: user, group: @group %>
      <% end %>
    </div>
	</div>
</div>