            <div class="row">
              <div class="small-11 columns csw-form-group">
                <%= f.text_field :url, class: "form-control property-input", placeholder: "Where is your gift published? (E.g. http://example.com/my-secret-santa-gift)" %>
              </div>
              <div class="small-1 columns actions">
                <%= f.button type: "submit", class: "btn btn-default", id: "save-content" do %>
                  <span class="glyphicon glyphicon-floppy-disk"></span> Save
                <% end %>
              </div>
            </div>
            <h3><%= @content.title %></h3>
            <div class="approved-buttons">
              <%= link_to nil, class: "btn btn-default btn-sm", id: "toggle-content-body" do %>
                <span class="glyphicon glyphicon-unchecked"></span> Show HTML
              <% end %>
            </div>
            <pre class="content-body no-edit markedup hide"><%= @content.body %></pre>
            <div class="content-body no-edit redactor_editor plain">
              <%= raw(@content.body) %>
            </div>