 <% title "#{@content.title}" %>


        <%= form_for [@group, @content], remote: true do |f| %>
          <%= render 'content_actions', content: @content, group: @group %>
          <% if @content.given? %>
            <div class="row">
              <div class="small-11 columns csw-form-group">
                <%= f.text_field :url, class: "form-control property-input", placeholder: "Where is your gift published? (E.g. http://example.com/my-secret-santa-gift)" %>
              </div>
              <div class="small-1 columns actions">
                <%= f.button type: "submit", class: "btn btn-default", id: "save-content" do %>
                  <span class="glyphicon glyphicon-floppy-disk"></span> Save
                <% end %>
              </div>
            </div>
            <h3><%= @content.title %></h3>
            <div class="approved-buttons">
              <%= link_to nil, class: "btn btn-default btn-sm", id: "toggle-content-body" do %>
                <span class="glyphicon glyphicon-unchecked"></span> Show HTML
              <% end %>
            </div>
            <pre class="content-body no-edit markedup hide"><%= @content.body %></pre>
            <div class="content-body no-edit redactor_editor plain">
              <%= raw(@content.body) %>
            </div>
          <% else %>
            <div class="row">
              <div class="small-12 columns csw-form-group">
                <%= f.text_field :title, class: "csw-form-input", placeholder: "Title" %>
              </div>
            </div>
            <% if @group.closed? %>
              <div class="row">
                <div class="small-12 csw-form-group">
                  You've missed being part of my delivery, but can send your gift when you're ready 
                  <%= link_to "Send gift", send_gift_content_path(@content), method: :put, class: "csw-button" %>
                </div>
              </div>
            <% end %>
            <div class="markdown-editor">
              <div class="mde-left-column">
                <textarea class="mde-editor" placeholder="Write Markdown"></textarea>
              </div>
              <div class="mde-right-column">
                <xmp class="mde-html"></xmp>
                <div class="mde-preview"></div>
              </div>
            </div>
          <% end %>
        <% end %>    