<div class="csw-content-header">
  <div class="csw-container-fluid">
    <button type="button" class="csw-navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="csw-nav-icon-bar"></span>
      <span class="csw-nav-icon-bar"></span>
      <span class="csw-nav-icon-bar"></span>
    </button>
    <%= link_to "Blog Secret Santa", root_path, class: "csw-logo" %>
    <ul class="csw-header-links">
      <% if user_signed_in? %>
        <% if current_user.group %>
          <li><%= link_to current_user.group.name, root_url(subdomain: current_user.group.subdomain) %></li>
        <% end %>
        <% if current_user.elf? %>
          <li><%= link_to "Elf area", elves_url(subdomain: current_user.group.subdomain) %></li>
        <% end %>
        <% if current_user.santa? %>
          <li><%= link_to "Santa area", root_url(subdomain: "santa") %></li>
        <% end %>
        <li><%= link_to "Santa's tips", tips_path %></li>
        <li class="csw-logged-in-user csw-dropdown">
          <a data-toggle="dropdown" href="#">
            <%= gravatar_for(current_user) %>
          </a>
          <ul class="csw-dropdown-menu csw-dropdown-menu-right" role="menu" aria-labelledby="dLabel">
            <li>
              <%= link_to edit_user_path(current_user) do %>
                <i class="csw-icon csw-icon-user"></i> My profile
              <% end %>
            </li>
            <li>
              <%= link_to logout_path, method: :delete do %>
                <i class="csw-icon csw-icon-sign-out"></i> Logout
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "2013", blog_roll_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Santa's tips", tips_path %></li>
        <li><%= link_to "Login", login_path, class: "csw-button csw-login" %></li>
      <% end %>
    </ul>
  </div>
</div>