<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<div class="main-wrapper">
	<%= render "layouts/flash" %>
	<div class="content">
		<%= yield %>
	</div>
</div>
<%= render "layouts/modal" %>
<% if Rails.env.production? %>
	<%= render "layouts/google_analytics"  %>
<% end %>
</body>
</html>
