<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Blog Secret Santa uses the bestness of Christmas to save you from the grindness of blogging.">
  <meta name="author" content="Ben Chadfield">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="csw-open">
<header>
  <div class="csw-brand">
  	<%= link_to "Blog Secret Santa", root_path, class: "csw-logo" %>
  </div>
</header>
<%= render "layouts/flash" %>
<%= yield %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<% if Rails.env.production? %>
  <%= render "layouts/google_analytics"  %>
<% end %>
</body>
</html>